# 데이터 사이언스 온라인 완주반 2기
## 1주차 과제 - Python

주의사항 : 코드 실행시 SyntaxError 가 발생하면 0 점으로 배점합니다. 문제에 주어진 일부 기능이 없더라도 실행 가능한 코드로 작성해주세요. 실행은 가능하나 일부 기능이 누락되면 부분배점 합니다.

### 1. 컨벤션에 대해서
(각 2점)

 식별자 이름의 형태를 통해 직관적으로 이것이 함수인지, 변수인지 혹은 클래스명을 바로 알 수 있습니다.

 저희가 아직 실질적으로 함수, 클래스를 만드는 방법을 배우지는 않았지만, 미리 컨벤션 규칙을 익히려 합니다.

 아래 단어를 활용하여 변수명, 함수명, 클래스명을 컨벤션 규칙에 따라 작성해주세요.

 *customer list*

In [0]:
# (1) 아래에 %%%% 를 지우고 위 단어로 컨벤션에 맞게 함수명을 작성해주세요.

def %%%%():
  pass

In [0]:
# (2) 아래에 %%%% 를 지우고 위 단어로 컨벤션에 맞게 변수명을 입력해주세요.

%%%% = 900

In [0]:
# (3) 아래에 %%%% 를 지우고 위 단어로 컨벤션에 맞게 클래스명을 입력해주세요.
# class 아래에 def, self 등 코드는 지금은 신경쓰지 않으셔도 됩니다.

class %%%%(object):
  def __init__(self):
    self.name = "Hello"

### 2. 주피터 노트북 (Colab) 에서 Shell command (bash) 사용하기
(3 점)

분석 업무를 본인 PC 에서 작업을 한다면, 파일을 찾거나 저장, 이동을 윈도우 탐색기(macOS 는 Finder) 로 편리하게 작업이 가능합니다.

그러나 마우스를 활용할 수 없는 환경에서는 Shell command 를 통해 원하는 파일을 가져오거나, 저장, 삭제, 이동 등을 할 수 있습니다.

여기에서는 주피터 노트북에서 Shell command 를 사용하는 방법을 간단히 알아보겠습니다.

In [0]:
# 여기에 있는 코드를 그냥 실행해 주시고, 답은 다음칸에 입력하시면 됩니다.

!touch 설명서.txt

In [0]:
# Shell command 를 사용하여 파일 목록을 출력해주는 코드를 작성해보세요.

### 3. 숫자(int, float) 와 문자(str) 를 합치는 방법
(5 점)

아래에는 숫자와 문자를 더하여 오류가 발생한 것입니다. 
아래 a + b 를 실행 했을 때 출력 결과가 ```1문자``` 로 나오도록 코드를 작성해주세요.

In [0]:
a = 1
b = "문자"

a + b

TypeError: ignored

In [0]:
# 여기에 위 문제를 해결한 코드를 작성해주세요.

### 4. 전화번호에서 지역번호만 가져오기
(5 점)

아래 tel 이라는 변수에 전화번호가 저장되어 있습니다. 여기에서 **인덱스 값**을 활용하여 지역번호만 code 라는 변수에 저장하는 코드를 작성해주세요.

In [0]:
tel = "031-1111-2222"

# 아래 코드를 완성해주세요.
# 코드 일부분을 입력해놓았습니다. 활용하셔도 되고 혹은 지우고 원하는 방법으로 만들어보세요.
code = tel[]



# 결과를 확인해보는 코드입니다. 
print(code)

031

### 5. 반대로 순서를 뒤집기
(5 점)

order 라는 변수에 1,2,3,4,5,6,7,8,9 문자열이 저장되어 있습니다. 이를 거꾸로 출력하는 코드를 작성해주세요. 

**반드시 인덱스 기능을 활용해야 합니다.**

In [0]:
order = "1,2,3,4,5,6,7,8,9"

# 아래에 코드를 완성해주세요.
# 코드 일부분을 입력해놓았습니다. 활용하셔도 되고 혹은 지우고 원하는 방법으로 만들어보세요.
order[]


# 결과를 확인해보는 코드입니다.
print(order)

'9,8,7,6,5,4,3,2,1'

### 6. 리스트에서 가장 마지막 값을 뽑아내기(출력 후 삭제)
(5 점)

노트북을 구매하기 위해 4개의 제품을 선택했고 이를 리스트에 저장했습니다.

products = ["A", "B", "C", "D"]

여기에서 리스트에 있는 **함수**를 활용하여 가장 마지막 제품을 하나 뽑아서 c 라는 변수에 저장해주세요.

In [0]:
products = ["A", "B", "C", "D"]

# 아래에 코드를 완성해주세요.
# 코드 일부분을 입력해놓았습니다. 활용하셔도 되고 혹은 지우고 원하는 방법으로 만들어보세요.
c = products.

### 7. 연산자를 본격적으로 사용해보기 전에 기능을 복습해봅시다.
(각 2점)

아래 칸에 있는 설명에 맞는 코드를 하나씩 작성해주세요.

참고 : 주피터 노트북에서는(Colab 포함) print() 없이 코드를 작성하면 하단에 마지막 코드에 대한 결과값만 출력 됩니다. 한 칸에서 모든 변수의 값을 출력하고 싶으시면 print() 함수를 꼭 써주세요.

In [0]:
# 아래 3줄 코드들은 수정하지 마세요.
a = 100
b = 200
datas = ["김", "박", "이", "홍", "정"]

# 문제1) a 변수에 이미 저장된 100 에서 300 을 추가로 더하여 저장해주세요. (할당 연산)



# 문제2) a 와 b 값이 같은지 다른지를 확인해보세요. (비교 연산)


# 문제3) datas 리스트안에 "이" 라는 값이 있는지 찾아보는 코드를 작성해주세요. (멤버 연산)


# 아래는 출력결과 예시입니다.

400
False
True

### 8. 형변환
(3 점)

아래 4개의 변수에는 각각 설문 응답여부를 1(응답), 0(미응답) 형태로 저장되어 있습니다.
이를 boolean 타입을 변경하려 합니다. 형변환을 통해 boolean 타입으로 같은 이름의 변수에 덮어써주세요.

즉 1(응답) 이면 True, 0(미응답) 은 False 로 출력 해주세요.

In [0]:
# 아래 4줄 코드는 수정하지 마세요.
check1 = 1
check2 = 0
check3 = 0
check4 = 1

# 아래에 코드를 작성해주세요. (아래 출력 결과는 예시입니다.)

True
False
False
True

### 9. dict 는 정말 순서가 없는 데이터 타입인가요?
(3 점)

앞서 강의에서 dict 는 순서가 없는 데이터 타입으로 배웠습니다.

먼저 아래 datas 라는 dict 데이터 타입을 생성하는 코드를 실행해주세요.

In [0]:
datas = {
    0: "바나나",
    1: "딸기",
    2: "망고"
}

In [0]:
datas[0]

'바나나'

In [0]:
# 문제) datas[0] 를 입력하여 '바나나' 가 출력되었는데, 
# 앞에 배운 인덱스 개념으로 값을 가져온건지 key 이름으로 가져온것인지
# 코드가 아닌 일반 문장으로 적어주세요.

# 아래에 답을 적어주세요.
# 답 :

### 10. 나이에 따른 버스 요금
(5 점)

사용자에게 나이(변수명 : age)를 입력받은 후, 아래의 운임요금(변수명 : fare) 기준에 맞게 버스 요금을 계산해주세요.

- 7세 이하 : 0원
- 8세 이상 ~ 20세 이하 : 700원
- 21세 이상 : 1200원

참고 : 변수명은 예시이며 Python 변수명 규칙에 따라 자유롭게 작성하시면 됩니다.

In [0]:
# 여기에 코드를 작성해주세요.

### 11. 4번째 고객마다 상품권 증정 

(5 점)

방문하는 고객 중 5번째 마다 상품권을 증정( status = "상품권 증정" ) 하는 코드를 작성해주세요.

In [0]:
# 여기에 코드를 작성해주세요.

In [0]:
# 출력 결과 예

count : 1 , 증정하지 않음
count : 4 , 증정하지 않음
count : 5 , 상품권 증정
count : 10 , 상품권 증정
count : 15 , 상품권 증정
count : 20 , 상품권 증정
count : 8 , 증정하지 않음
count : 7 , 증정하지 않음

# 반복문(특히 while) 을 작성하시다가 무한 루프가 발생하면

코드를 실행 하셨다가 강제로 중단하려면 
- Colab
  - ctrl + M, I 누르면 중단됩니다.
  - 단축키가 작동되지 않으면 '런타임' -> '실행 중단' 을 눌러도 됩니다.
- Jupyter Notebook/Lab
  - esc 키를 누릅니다.
  - 키보드 i 를 두 번 누릅니다.

### 12. Dictionary 에 계좌 잔액을 모두 더하는 코드 작성

(3 점)

accounts 라는 딕셔너리의 잔액 (value) 을 total 이라는 변수에 모두 더하여 출력해주세요.

In [0]:
accounts = {"A계좌": 2322000, "B계좌": 34443000, "C계좌": 6888000}

# 여기에 코드를 작성해주세요.


print(total)

43653000

### 13. List Comprehension 으로 코드 작성해보기

(3 점)

아래와 같이 리스트 요소 중에  '음수' 가 있다면 0 으로 바꿔주는 코드를 List Comprehension 으로 작성해보세요.

In [0]:
numbers = [100, 200, -100, -50, 400, 700]

# 여기에 코드를 작성해주세요.


print(results)

[100, 200, 0, 0, 400, 700]

### 14. 점심 메뉴 골라주는 함수
(3 점)

1. lunch_selector 라는 함수에 1개 이상의 음식을 입력받도록 해주세요.
2. 랜덤 함수를 활용하여 입력 받은 음식 중 하나를 랜덤으로 선택하여 리턴 해줍니다.

In [0]:
import random

# 아래 함수에 코드를 작성해주세요.
def lunch_selector(

In [0]:
# 예제 코드
lunch_selector("짜장면", "짬뽕", "탕수육")

'탕수육'

### 15. 중복되는 코드를 하나의 함수로 정리하기
(3 점)

학점을 계산하는 코드입니다. 두 명의 학생을 비교하는데 조건문을 각 학생별로 구현되어 있어 코드가 비효율적으로 작성되어 있습니다.

함수를 활용하여 코드를 개선해주세요.

In [0]:
student1_score = 70
student1_grade = ""

if student1_score > 90:
  student1_grade = "A"
elif student1_score >= 80:
  student1_grade = "B"
elif student1_score >= 70:
  student1_grade = "C"
elif student1_score >= 60:
  student1_grade = "D"
else:
  student1_grade = "F"

print(student1_grade)

student2_score = 50
student2_grade = ""

if student2_score > 90:
  student2_grade = "A"
elif student2_score >= 80:
  student2_grade = "B"
elif student2_score >= 70:
  student2_grade = "C"
elif student2_score >= 60:
  student2_grade = "D"
else:
  student2_grade = "F"

print(student2_grade)

C
F

In [0]:
# 여기에 위 학점 계산 코드를 함수를 활용하여 중복 코드를 제거하여 코드를 개선해주세요.

# 아래 함수에 코드를 작성해주세요. 
def set_grade(

set_grade(77)

'C'

### 16. 리스트에 들어 있는 요소 구분하기

(5 점)

과일 선호도 조사를 하여 나온 결과가 리스트에 저장되어 있습니다. "사과", "바나나", "오렌지" 가 각각 3~5개씩 들어 있습니다.
**조건문**을 활용하여 리스트에 있는 요소를 ```apple```, ```banana```, ```orange``` 의 리스트에 추가해주세요.

논리적인 문제해결 단계를 연습하기 위해 외부 패키지 사용을 하지 말아주세요.

#### ToDo
1. 먼저 코드를 작성하기 전에 강의영상에서 다룬 것 처럼 **논리적인 문제해결 순서**를 적어주세요. 
2. 작성하신 논리적인 문제해결에 알맞은 코드를 작성해주세요.


#### 결과 예

```python
print(apple)

["사과", "사과", "사과"]
```

In [0]:
fruits = ["바나나", "사과", "사과", "오렌지", "오렌지", "바나나", "바나나", "사과", "사과", "오렌지", "사과", "오렌지"]

# 논리적인 문제해결 순서를 "주석 형태로" 작성하시고 그 아랫줄에 코드를 작성해주세요.

### 17. 미국식 날짜 표기를 한국식으로 변환

(4 점)

**월/일/연도** 형태로 저장된 ```usa_date``` 를 한국식 표기인 **연도/월/일** 로 바꿔서 저장해주세요.

논리적인 문제해결 단계를 연습하기 위해 외부 패키지 사용을 하지 말아주세요.

#### ToDo
1. 먼저 코드를 작성하기 전에 강의영상에서 다룬 것 처럼 **논리적인 문제해결 순서**를 적어주세요. 
2. 작성하신 논리적인 문제해결에 알맞은 코드를 작성해주세요.

In [0]:
usa_date = "03/20/2020"

# 논리적인 문제해결 순서를 "주석 형태로" 작성하시고 그 아랫줄에 코드를 작성해주세요.

### 18. docstring 작성해보기

(3 점)

강의영상에서 docstring 작성 방법을 다시 확인해보며 아래 함수에 알맞은 docstring 을 작성해주세요. 

강의영상을 참고하거나 Google 검색에서 'python docstring' 를 찾아서 작성 방법을 확인해주세요. 일부 키워드를 제외하고 한글로 작성하셔도 됩니다.

#### 작성할 내용

- 함수의 간단한 기능 설명
- 함수에 들어갈 parameter 설명 (변수명, 자료형)
- 함수 리턴시 리턴값 자료형

In [0]:
def calc(option, num1 = 100, num2 = 100):
  """
  여기에 docstring 을 작성해주세요. 이 설명글은 삭제하세요.
  
  """
  if option == "더하기":
    total = num1 + num2
  elif option == "곱하기":
    total = num1 * num2
  else:
    total = 0

  return total

### 19. 함수 내에서 전역(global) 변수 값 가져오고 변경하기

(3 점)

editor() 함수를 호출하면, 전역 변수인 result 의 값 "apple" 를 "banana" 로 변경하도록 코드를 작성해주세요.

In [0]:
result = "apple"

def editor():
  result = "banana"

editor()
print(result)

banana

### 20. lambda 함수로 구현하기

(5 점)

아래 함수를 lambda 형식으로 구현해보세요.

In [0]:
def add(num):
  return num + 10

print(add(5))

15

In [0]:
# 여기에 위 add 함수와 같은 기능을 하는 lambda 함수를 구현해보세요. 

print(add_lambda(5))

15

### 21. callback function 으로 계산기 만들기

(5 점)

지난 시간에 만들어 보았던 "더하기", "곱하기" 를 계산해주는 함수를 callback function 으로 구현해보세요.

#### 코드
```python
def calc(option, num1 = 100, num2 = 100):

  if option == "더하기":
    total = num1 + num2
  elif option == "곱하기":
    total = num1 * num2
  else:
    total = 0

  return total
```

#### callback function 으로 구현할 때 지켜야 할 사항
1. "더하기" 는 add(), "곱하기" 는 mul() 라는 함수를 만듭니다.
2. 실제 사용자가 더하기 혹은 곱하기 계산을 시키기 위해 사용할 함수 이름은 calc() 입니다.
3. 위 샘플 함수내에 조건문에 else 는 무시합니다.
4. 위 샘플 함수처럼 숫자값을 입력하지 않으면 기본적으로 각각 100 을 할당하게 해주세요.

In [0]:
# 여기에 코드를 구현해주세요.

In [0]:
# 코드 실행 예

calc(add)

200

In [0]:
# 코드 실행 예

calc(mul, 3, 3)

9

### 22. map 함수로 반복문 없이 간편하게 리스트의 모든 요소를 사용

(5 점)

```purchased_dates``` 라는 리스트에는 **년/월/일** 형태로 날짜가 저장되어 있습니다.

각각 날짜가 표현된 문자열(str) 을 년, 월, 일 로 분리하여 리스트 형태로 만들고, ```map()``` 함수로 리스트 형태로 문자열(str) 을 넣으면 각각 분리되어 아래와 같이 출력되게 코드를 작성해주세요.

**함수, 람다함수 등 기능 구현은 자유롭게 하시되**, map() 함수로 테스트한 결과도 함께 작성해주세요.

저는 아래와 같이 함수를 작성하여 구현해본 예제를 올려드립니다.

**반드시 함수로만 구현해야 하는건 아닙니다.**

In [0]:
purchased_dates = ["2020/01/03", "2019/12/11", "2019/11/10", "2018/07/22"]

# 위 purchased_dates 는 삭제하지 마시고 활용하여 아래에 코드를 구현해주세요.

In [0]:
# 실행 예 입니다. map() 만 사용하시면 위에 구현하신 코드에 맞게끔 출력하면 됩니다.

list(map(split_dates, purchased_dates))

[['2020', '01', '03'],
 ['2019', '12', '11'],
 ['2019', '11', '10'],
 ['2018', '07', '22']]

### 23. 리스트에서 사과만 뽑기
(3 점)

'사과'와 다른 과일들이 섞여 있는 fruits 리스트가 있습니다.

이 중에서 '사과'만 뽑을 수 있도록 ```filter()``` 를 활용하여 구현해주세요.

In [0]:
fruits = ["사과", "배", "바나나", "딸기", "바나나", "사과", "배", "망고", "망고", "사과", "사과"]

In [0]:
# 아래 줄에 filter() 코드를 작성해서 '사과' 만 추출해주세요.

['사과', '사과', '사과', '사과']

### 24. reduce 로 1부터 100까지 더하는 코드 작성
(4 점)

1 부터 100을 더하여 총합이 5050 이 되도록 코드를 작성해주세요.

In [0]:
from functools import reduce

# 아래 줄에 reduce() 로 구현해주세요.

5050

### 25. Decorator 함수 내부 코드가 실행되는 순서
(5 점)

아래는 Decorator 함수를 활용하여 사용자 이름을 입력 받아 해당 이름이 nameList 에 있으면 "안녕하세요! ??님." 을 출력합니다.

#### 구현해야 할 내용
- 사용자가 hello() 를 호출 합니다.
- 사용자에게 이름을 입력 받습니다. ```input()```
- ```nameList``` 에서 입력된 이름과 비교 합니다.
- 해당 이름을 상단에 ```name``` 변수에 덮어씁니다.
- hello 함수에 ```print()``` 문에서 ```"안녕하세요! ??님."``` 을 출력합니다.

#### 참고
- 코드를 구현하다보면 입력된 이름과 비교하여 정상적으로 출력했으나, 바로 다음줄에 "이름이 없습니다." 가 출력되는 문제가 생길 수도 있습니다. 
- 아래 구현 방법보다 Decorator 함수를 활용하여 더 나은 방법으로도 코드를 구현할 수 있습니다. 그럴땐 아래 가이드를 삭제하고 위 **구현해야 할 내용**을 참고하여 직접 작성하셔도 좋습니다.

In [0]:
name = ""

def auth(func):
  def wrapper(*args, **kwargs):
    nameList = ["Park", "Kim", "Lee"]
    

@auth
def hello():
  print("안녕하세요! {} 님.".format(name))

In [0]:
# 실행 예
hello()

이름 : 123

'이름이 없습니다.'

In [0]:
실행 예
hello()

이름 : Kim
안녕하세요! Kim 님.